@font-face {
    font-family: 'Arial Narrow';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

/* For the body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: background-color 0.3s ease;
    background: #8ACE00;
    margin: 0;
}


/* For the main container */
.main-container {
    width: 100%;
    background: transparent;
    padding: 15px;
    margin-top: auto;
}

/* For the div controls */
.controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

/* For the input fields */ 
/* For the text input */
.text-input-group {
    flex: 1;
    width: 390px;
}

input[type="text"] {
    width: 100%;
    
    /*Padding*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
    font-size: 18px;
    border: 2px solid #ffffff;
    border-radius: 16px;
    background: #ffffff;
    color: inherit;
    font-family: TimesRegular, Times, serif;
    outline: none;
    text-align: center;
    height: 45px;
}


input[type="text"]::placeholder {
    color: inherit;
    opacity: 0.5;
    text-align: center;
}

/* For the color input */
.all-options-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.color-input-group {
    width: 45px;
}

input[type="color"] {
    width: 45px;
    height: 45px;
    border: 2px solid #000;
    border-radius: 15px;
    background: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 10px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
}

/* For 3 inputs options layout */
.all-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

/* For the instruction text*/
.instructions {
    text-align: center;
    font-size: 14px;
    margin-top: -2px;
    text-transform: capitalize;
    font-weight: 500;
    opacity: 0.7;
}

/* For the preview text */
.preview-container {
    width: 500px;
    height: 500px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.preview-text {
    font-size: 60px;
    text-align: center;
    padding: 20px;
    filter: blur(2px);
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    max-width: 100%;
    line-height: 1.2;
    
}
@media (max-width: 600px) {
    .preview-container {
        width: 300px;
        height: 300px;
    }
    .preview-text {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .preview-text {
        font-size: 10vw;
    }
}