<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Arial+Narrow&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Times+New+Roman&display=swap" rel="stylesheet">

    <!-- Link to CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/360_favicon.png') }}">

    <title>360 brat generator</title>

</head>
<body>
    <!-- Main Section -->
    <main>
        <!-- Main Container -->
        <div class="main-container">
            <!-- Controls for color selection and text input -->
            <div class="controls">

                <div class="all-options">
                    <!-- Color Input -->
                    <div class="all-options-controls">
                        <div class="color-input-group">
                            <input type="color" id="bg-color" value="#8ACE00">
                        </div>
                        <div class="color-input-group">
                            <input type="color" id="text-color" value="#000000">
                        </div>

                        <!-- Text Input -->
                        <div class="text-input-group">
                            <input type="text" id="text-input" placeholder="Type something here..." maxlength="70" autocomplete="off">
                        </div>
                    </div>
                </div>
    
                <!-- Instructions -->
                <div class="instructions">
                    Pick background color <span class="bg-left">(left)</span> and text color <span class="text-right">(right)</span>. Take a Screenshot to Save!
                </div>
            </div>
        </div>
    
        <!-- Preview Container -->
        <div class="preview-container">
            <!-- Preview Section -->
            <div class="preview-text" id="preview">
                360 brat generator
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer">
            <div class="footer-text">
                <div class="programmer-text">
                    <p>
                        Created by <a href="https://github.com/romanjosephgallardo" target="_blank">jace</a> |
                        Source code <a href="https://github.com/romanjosephgallardo" target="_blank"> here</a>
                    </p>
                </div>
                <div class="charli-xcx-brat-text">
                    <p> Inspired by Charli xcx's Brat Generator  (<a href="https://bratgenerator.com/" target="_blank">bratgenerator.com</a>). 
                        <br>
                        This is a fan-made project and is not officially affiliated with Charli xcx and her team.
                    </p>
                </div>
            </div>

            <div class="footer-seperator">
                <p class="copyright">© 2024 All Rights Reserved</p>
            </div>
        </div>
    </footer>
    
    <!-- Link to JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
